rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function coupleDoc(coupleId) {
      return firestore.get(/databases/(default)/documents/couples/$(coupleId));
    }

    function isCoupleMember(coupleId) {
      return signedIn()
        && (
          coupleDoc(coupleId).data.ownerUid == request.auth.uid
          || coupleDoc(coupleId).data.partnerUid == request.auth.uid
        );
    }

    match /couples/{coupleId}/{allPaths=**} {
      allow read, write: if isCoupleMember(coupleId);
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
